<!DOCTYPE html>
<html>

<head>
  <!--Título do separador-->
  <title>Client</title>

  <!--Usar o CSS definido em public/stylesheets/editStyle.css-->
  <link rel="stylesheet" href="/stylesheets/editStyle.css" />
</head>

<body>
  <!--Criar uma divisão da classe container definida no CSS (stlesheets/detailStyle.css)-->
  <div class="container">

    <!--Título do formulário-->
    <h1>Client Editing</h1>

    <form action="/admins/clients/edit/<%=item._id%>" method="post">

      <!--Criar uma tabela da classe table_details definida no CSS (stlesheets/editStyle.css)-->
      <table class="table_details">
        <tbody>
          <tr hidden>
            <td>Id</td>
            <td>:</td>
            <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
            <td>
              <input type="hidden" name="_id" id="_id" value="<%= item._id %>" />
              <%= item._id %>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>
              <input name="email" id="email" type="email" required value="<%= item.email %>" />
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td>
              <input type="text" name="place" id="place" value="<%= item.place %>" />
            </td>
          </tr>
            <td>
              <input type="hidden" name="points" id="points" value="<%= item.points %>" />
              <%= item.points %>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  
  <!--Apresentar a opção Show All Clients que irá apresentar informação de todos os clientes (clients)-->
  <h3><a class="show" href="/admins/clients">Show All Clients</a></h3>
</body>

</html>