<!DOCTYPE html>
<html>

<head>
  <!--Título do separador-->
  <title>Employee</title>

  <!--Usar o CSS definido em public/stylesheets/detailStyle.css-->
  <link rel="stylesheet" href="/stylesheets/detailStyle.css" />
</head>

<body>
    <!--Criar uma divisão da classe container definida no CSS (stlesheets/detailStyle.css)-->
    <div class="container">

        <!--Título principal-->
        <h1>Employee Details</h1>

        <!--Criar uma tabela da classe table_details definida no CSS (stlesheets/detailStyle.css)-->
        <table class="table_details">
          <tbody>
            <tr hidden>
              <td>Id</td>
              <td>:</td>
              <td>
                <%= item._id %>
              </td>
            </tr>
            <tr>
              <td>Name</td>
              <td>:</td>
              <td>
                <%= item.name %>
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>:</td>
              <td>
                <%= item.email %>
              </td>
            </tr>
            <tr hidden>
                <td>Password</td>
                <td>:</td>
                <td>
                  <%= item.password %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      
  <!--Apresentar a opção Edit que irá permitir editar informação relativa a um funcionário (employee)-->
  <h3><a class="edit" href="/admins/employees/edit/<%= item._id%>">Edit</a></h3>
  <!--Apresentar a opção Show All employee que irá apresentar informação relativa a todos os 
    funcionários (employees)-->
  <h3><a class="show" href="/admins/employees">Show All employee</a></h3>
</body>