<!DOCTYPE html>
<html>

<head>
  <!--Título do separador-->
  <title>Employee</title>

  <!--Usar o CSS definido em public/stylesheets/listStyle.css-->
  <link rel='stylesheet' href='/stylesheets/listStyle.css' />
</head>

<body>
  <!--Criar uma divisão da classe container definida no CSS (stlesheets/detailStyle.css)-->
  <div class="container">

    <!--Apresentar a opção Add new Employee que irá permitir criar um novo funcionário (employee)-->
    <h3><a href="/admins/employees/create">Add new Employee</a></h3><br>

    <!--Título da lista-->
    <h1>Employees List</h1>

    <!--Se existirem funcionários-->
    <% if(items.length>0) { %>

      <!--Criar uma tabela da classe table_details definida no CSS (stlesheets/listStyle.css)-->
      <table class="table_details">
        <thead>
          <tr>
            <th hidden>#</th>
            <th hidden>Id</th>
            <th>Employee Name</th>
            <th hidden>Email</th>
            <th hidden>Password</th>
            <th></th>
            <th hidden>Details</th>
            <th hidden>Edit</th>
            <th hidden>Delete</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<items.length;i++) { %>
            <tr>

              <td hidden>
                <%=i%>
              </td>
              <td hidden>
                <%=items[i]._id%></a>
              </td>
              <td>
                <%= items[i].name%></a>
              </td>
              <td hidden>
                <%= items[i].email%></a>
              </td>
              <td hidden>
                <%= items[i].password%></a>
              </td>

              <!--Apresentar a opção Show Details que irá apresentar detalhes de um funcionário (employee)-->
              <td><a class="showDetail" href="/admins/employees/show/<%= items[i]._id%> "> Show Details </td>
              <!--Apresentar a opção Edit que irá permitir editar informação relativa a um 
                funcionário (employee)-->
              <td><a class="edit" href="/admins/employees/edit/<%= items[i]._id%> "> Edit </a></td>
              <!--Apresentar a opção Delete que irá apagar informação relativa a um funcionário (employee)-->
              <td><a class="delete" href="/admins/employees/delete/<%= items[i]._id%> "> Delete </a></td>
            </tr>

            <% } %>
        </tbody>
      </table>

      <!--Se não existirem funcionários-->
      <% } else { %>
        <div>No employees found.</div>
        <% } %>
  </div>
  
  <div>
    <!--Apresentar o butão Back que fará voltar atrás-->
    <button><a href="/admins"> Back </a></button>
  </div>

</body>

</html>