<!DOCTYPE html>
<html>

<head>
  <title>Books</title>
  <link rel='stylesheet' href='/stylesheets/listStyle.css' />
</head>

<body>
  <div class="container">
    <h1>Books List</h1>
    <% if(items.length>0) { %>
      <table class="table_details">
        <thead>
          <tr>
            <th hidden>#</th>
            <th hidden>Id</th>
            <th>Books name</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Description</th>
            <th hidden>State</th>
            <th hidden>Stock</th>
            <th></th>
            <th hidden>Details</th>
            <th hidden>Edit</th>
            <th hidden>Delete</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<items.length;i++) { %>
            <tr>
              <td hidden>
                <%=i%>
              </td>
              <td hidden>
                <%=items[i]._id%></a>
              </td>
              <td>
                <%= items[i].name%></a>
              </td>
              <td>
                <%= items[i].author%></a>
              </td>
              <td>
                <%= items[i].isbn%></a>
              </td>
              <td>
                <%= items[i].description%></a>
              </td>
              <td hidden>
                <%= items[i].state%></a>
              </td>
              <td hidden>
                <%= items[i].stock%></a>
              </td>
              <td class="coverShow showDetail" href="#">Cover<img src="<%= items[i].cover%>" /></td>
              <td><a class="showDetail" href="/admins/books/show/<%= items[i]._id%> "> Show Details </td>
              <td><a class="edit" href="/admins/books/edit/<%= items[i]._id%> "> Edit </a></td>
              <td><a class="delete" href="/admins/books/delete/<%= items[i]._id%> "> Delete </a></td>
            </tr>

            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No Books found.</div>
        <% } %>
  </div>

  <h3><a href="/admins/books/create">Create new Books</a></h3><br>

  <div>
    <button><a href="/admins"> Back </a></button>
  </div>
  
</body>

</html>